Scraping

In [143]:
import requests
from bs4 import BeautifulSoup


url = 'https://www.numbeo.com/cost-of-living/in/Montpellier'

header = { 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36' }

reponse = requests.get(url, headers=header)
soup= BeautifulSoup(reponse.content, 'html.parser')



f= open('index.html', 'w')
f.write(soup.prettify())
f.close()

In [ ]:
import pandas as pd 
import re 
import csv


with open("index.html") as fp:
    soup = BeautifulSoup(fp, 'html.parser')
donnees_sale = soup.select('tr td')

In [ ]:
lignes = soup.select('tr') # recupe toute les lignes

In [ ]:
# print(lignes)

[<tr>
<td style="padding-top: 12px; padding-bottom: 12px; vertical-align: bottom; max-width: fit-content">
<a href="https://www.numbeo.com/cost-of-living/" style="border: 0; text-decoration:none;">
<img alt="" src="https://www.numbeo.com/images/numbeo_1B3B6F.svg" style="height: 60px; padding: 0px 0px; vertical-align: bottom; border: 0;"/>
</a>
</td>
<td style="padding-left:40px; padding-top: 5px; padding-bottom: 0px; vertical-align: middle; min-width: 440px; text-align: left;">
<div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px; text-align: left; vertical-align: bottom">
<nav style="display: inline-block; vertical-align: middle;">
<div class="standard_margin_inlineblock">
<form action="https://www.numbeo.com/common/dispatcher.jsp" id="menu_dispatch_form" method="get" style="display: inline; padding: 0; margin:0;">
<input name="where" style="display: inline; padding:0; margin:0;" type="hidden" value="https://www.numbeo.com/cost-of-living/in/"/>
<input class="city-selector-menu" id="city_selector_menu_city_id" name="city_selector_menu_city_id" placeholder="Select City" size="27" type="text"/>
<input id="menu_city_id" name="city_id" type="hidden"/>
<input id="name_menu_city_id" name="name_city_id" type="hidden"/>
</form>
</div>
<script>
           whenDocReady(function() {
  	jQuery('#city_selector_menu_city_id').autocomplete({
  	  source: 'https://www.numbeo.com/common/CitySearchJson',
     minLength: 1,
     delay: 3,
     autoFocus: true,
     select: function(event, ui) {
         event.preventDefault();
         $('#name_menu_city_id').val(ui.item.label);
         $('#city_selector_menu_city_id').val(ui.item.label);
         $('#menu_city_id').val(ui.item.value);
jQuery('#menu_dispatch_form').submit();     },
     focus: function(event, ui) {
         event.preventDefault();
     }
	  })   .keydown(function(e){
	    if (e.keyCode === 13){
      if ($('#menu_city_id').val() == '') {
        e.preventDefault();
      }
      var val = $('#city_selector_menu_city_id').val();
		   $('#name_menu_city_id').val(val);
	   }
  }); // end autocompleter definition
$('#city_selector_menu_city_id').toggleClass('city-selector-menu');
$('#city_selector_menu_city_id').toggleClass('city-selector-menu');
 }); // end document ready
          </script>
</nav>
</div>
</td>
<td style="vertical-align: middle; width: 468px; text-align: right;">
<script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8993465169534557">
</script>
<script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</td>
</tr>, <tr>
<th class="highlighted_th prices">
<span class="category_icon_wrapper">
<img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-dining.svg"/>
</span>
<div class="category_title">
        Restaurants
       </div>
</th>
<th class="highlighted_th th_no_highlight_a_right prices">
<a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Montpellier&amp;country=France&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FMontpellier&amp;current=0&amp;section=true&amp;tracking=editHref" rel="nofollow">
<img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/>
<span class="edit_link">
         Edit
        </span>
</a>
</th>
<th class="th_no_highlight prices" style="padding-left: 132px; text-align: left;">
       Range
      </th>
</tr>, <tr>
<td>
       Meal, Inexpensive Restaurant
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        15.00 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        10.00
       </span>
<span class="barLeft" style="width: 19px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 39px;">
</span>
<span class="barTextRight">
        25.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Meal for 2 People, Mid-range Restaurant, Three-course
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        60.00 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        40.00
       </span>
<span class="barLeft" style="width: 18px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 15px;">
</span>
<span class="barTextRight">
        75.00
       </span>
</td>
</tr>, <tr>
<td>
       McMeal at McDonalds (or Equivalent Combo Meal)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        11.00 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        10.00
       </span>
<span class="barLeft" style="width: 4px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 5px;">
</span>
<span class="barTextRight">
        12.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Domestic Beer (0.5 liter draught)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        5.00 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        3.00
       </span>
<span class="barLeft" style="width: 23px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 23px;">
</span>
<span class="barTextRight">
        7.00
       </span>
</td>
</tr>, <tr>
<td>
       Imported Beer (0.33 liter bottle)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        4.00 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        3.50
       </span>
<span class="barLeft" style="width: 7px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 14px;">
</span>
<span class="barTextRight">
        5.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Cappuccino (regular)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        3.29 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        2.00
       </span>
<span class="barLeft" style="width: 22px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 31px;">
</span>
<span class="barTextRight">
        5.00
       </span>
</td>
</tr>, <tr>
<td>
       Coke/Pepsi (0.33 liter bottle)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        2.48 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        2.00
       </span>
<span class="barLeft" style="width: 10px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 24px;">
</span>
<span class="barTextRight">
        3.50
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Water (0.33 liter bottle)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        1.64 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        1.00
       </span>
<span class="barLeft" style="width: 22px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 40px;">
</span>
<span class="barTextRight">
        2.75
       </span>
</td>
</tr>, <tr>
<th class="highlighted_th prices">
<span class="category_icon_wrapper">
<img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-grocery-store.svg"/>
</span>
<div class="category_title">
        Markets
       </div>
</th>
<th class="highlighted_th th_no_highlight_a_right prices">
<a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Montpellier&amp;country=France&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FMontpellier&amp;current=1&amp;section=true&amp;tracking=editHref" rel="nofollow">
<img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/>
<span class="edit_link">
         Edit
        </span>
</a>
</th>
<th class="th_no_highlight prices">
</th>
</tr>, <tr>
<td>
       Milk (regular), (1 liter)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        1.23 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        1.00
       </span>
<span class="barLeft" style="width: 10px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 29px;">
</span>
<span class="barTextRight">
        1.85
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Loaf of Fresh White Bread (500g)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        1.86 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        1.20
       </span>
<span class="barLeft" style="width: 10px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 66px;">
</span>
<span class="barTextRight">
        6.00
       </span>
</td>
</tr>, <tr>
<td>
       Rice (white), (1kg)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        2.20 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        1.50
       </span>
<span class="barLeft" style="width: 18px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 21px;">
</span>
<span class="barTextRight">
        3.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Eggs (regular) (12)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        3.49 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        1.97
       </span>
<span class="barLeft" style="width: 25px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 42px;">
</span>
<span class="barTextRight">
        6.00
       </span>
</td>
</tr>, <tr>
<td>
       Local Cheese (1kg)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        14.80 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        8.50
       </span>
<span class="barLeft" style="width: 24px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 37px;">
</span>
<span class="barTextRight">
        24.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Chicken Fillets (1kg)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        13.94 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        10.00
       </span>
<span class="barLeft" style="width: 15px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 17px;">
</span>
<span class="barTextRight">
        18.00
       </span>
</td>
</tr>, <tr>
<td>
       Beef Round (1kg) (or Equivalent Back Leg Red Meat)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        23.49 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        16.00
       </span>
<span class="barLeft" style="width: 17px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 12px;">
</span>
<span class="barTextRight">
        28.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Apples (1kg)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        2.76 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        2.00
       </span>
<span class="barLeft" style="width: 14px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 6px;">
</span>
<span class="barTextRight">
        3.00
       </span>
</td>
</tr>, <tr>
<td>
       Banana (1kg)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        2.29 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        1.50
       </span>
<span class="barLeft" style="width: 17px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 58px;">
</span>
<span class="barTextRight">
        5.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Oranges (1kg)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        2.92 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        1.55
       </span>
<span class="barLeft" style="width: 26px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 22px;">
</span>
<span class="barTextRight">
        4.00
       </span>
</td>
</tr>, <tr>
<td>
       Tomato (1kg)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        3.42 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        2.20
       </span>
<span class="barLeft" style="width: 20px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 10px;">
</span>
<span class="barTextRight">
        4.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Potato (1kg)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        2.03 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        1.00
       </span>
<span class="barLeft" style="width: 28px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 14px;">
</span>
<span class="barTextRight">
        2.50
       </span>
</td>
</tr>, <tr>
<td>
       Onion (1kg)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        2.29 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        2.00
       </span>
<span class="barLeft" style="width: 7px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 17px;">
</span>
<span class="barTextRight">
        3.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Lettuce (1 head)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        1.43 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        1.19
       </span>
<span class="barLeft" style="width: 9px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 23px;">
</span>
<span class="barTextRight">
        2.00
       </span>
</td>
</tr>, <tr>
<td>
       Water (1.5 liter bottle)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        0.44 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        0.19
       </span>
<span class="barLeft" style="width: 17px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 59px;">
</span>
<span class="barTextRight">
        1.30
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Bottle of Wine (Mid-Range)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        7.50 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        5.75
       </span>
<span class="barLeft" style="width: 12px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 12px;">
</span>
<span class="barTextRight">
        9.00
       </span>
</td>
</tr>, <tr>
<td>
       Domestic Beer (0.5 liter bottle)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        2.62 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        1.25
       </span>
<span class="barLeft" style="width: 27px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 48px;">
</span>
<span class="barTextRight">
        5.00
       </span>
</td>
</tr>, <tr>
<td class="tr_highlighted">
       Imported Beer (0.33 liter bottle)
      </td>
<td class="priceValue tr_highlighted" style="text-align: right">
<span class="first_currency">
        3.37 €
       </span>
</td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
        1.00
       </span>
<span class="barLeft" style="width: 40px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 29px;">
</span>
<span class="barTextRight">
        5.00
       </span>
</td>
</tr>, <tr>
<td>
       Cigarettes 20 Pack (Marlboro)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        12.00 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        11.00
       </span>
<span class="barLeft" style="width: 3px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>
</span>
<span class="barRight" style="width: 3px;">
</span>
<span class="barTextRight">
        12.50
       </span>
</td>
</tr>, <tr>
<th class="highlighted_th prices">
<span class="category_icon_wrapper">
<img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-drive-eta.svg"/>
</span>
<div class="category_title">
        Transportation
       </div>
</th>
<th class="highlighted_th th_no_highlight_a_right prices">
<a class="edit_href" href="https://www.numbeo.com/common/form.jsp?city=Montpellier&amp;country=France&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fin%2FMontpellier&amp;current=2&amp;section=true&amp;tracking=editHref" rel="nofollow">
<img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/>
<span class="edit_link">
         Edit
        </span>
</a>
</th>
<th class="th_no_highlight prices">
</th>
</tr>, <tr>
<td>
       One-way Ticket (Local Transport)
      </td>
<td class="priceValue" style="text-align: right">
<span class="first_currency">
        1.60 €
       </span>
</td>
<td class="priceBarTd">
<span class="barTextLeft">
        1.10
       </span>
<span class="barLeft" style="width: 17px;">
</span>
<span class="barMid">
<span class="barMid-nocss">
         -
        </span>

In [140]:
def clean_data(data):
    cleaned_data = re.sub(r'\s+', ' ', data).strip()
    cleaned_data = cleaned_data.replace('km', '')
    cleaned_data = cleaned_data.replace('"', '')
    cleaned_data = cleaned_data.replace(' €', '')
    cleaned_data = re.sub(r'(?<=\d),(?=\d)', '',cleaned_data)
    cleaned_data = cleaned_data.replace('\xa0€', '')
        
    return cleaned_data.strip()

In [129]:
def cree_categorie(lignes):
    desc = []
    prix = []
    nearby_cities = []
    nearby_cities_km = []
    prix_min_max = []

    for ligne in lignes:
        cells = ligne.select('td')
        if len(cells) == 1 or len(cells) == 0:
            continue  # Ignore les lignes sans données pertinentes
        elif len(cells) == 3:
            desc.append(clean_data(cells[0].text))
            prix.append(clean_data(cells[1].text))
            prix_min_max.append(clean_data(cells[2].text))
        elif len(cells) == 2:
            nearby_cities.append(clean_data(cells[0].text))
            nearby_cities_km.append(clean_data(cells[1].text))
    
    return desc, prix, prix_min_max, nearby_cities, nearby_cities_km

In [130]:
lignes = soup.select('tr') 
donnees_epurees = cree_categorie(lignes)
print(donnees_epurees)

(['', 'Meal, Inexpensive Restaurant', 'Meal for 2 People, Mid-range Restaurant, Three-course', 'McMeal at McDonalds (or Equivalent Combo Meal)', 'Domestic Beer (0.5 liter draught)', 'Imported Beer (0.33 liter bottle)', 'Cappuccino (regular)', 'Coke/Pepsi (0.33 liter bottle)', 'Water (0.33 liter bottle)', 'Milk (regular), (1 liter)', 'Loaf of Fresh White Bread (500g)', 'Rice (white), (1kg)', 'Eggs (regular) (12)', 'Local Cheese (1kg)', 'Chicken Fillets (1kg)', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)', 'Apples (1kg)', 'Banana (1kg)', 'Oranges (1kg)', 'Tomato (1kg)', 'Potato (1kg)', 'Onion (1kg)', 'Lettuce (1 head)', 'Water (1.5 liter bottle)', 'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)', 'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)', 'One-way Ticket (Local Transport)', 'Monthly Pass (Regular Price)', 'Taxi Start (Normal Tariff)', 'Taxi 1 (Normal Tariff)', 'Taxi 1hour Waiting (Normal Tariff)', 'Gasoline (1 liter)', 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)', 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)', 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment', 'Mobile Phone Monthly Plan with Calls and 10GB+ Data', 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)', 'Fitness Club, Monthly Fee for 1 Adult', 'Tennis Court Rent (1 Hour on Weekend)', 'Cinema, International Release, 1 Seat', 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child', 'International Primary School, Yearly for 1 Child', '1 Pair of Jeans (Levis 501 Or Similar)', '1 Summer Dress in a Chain Store (Zara, H&M, ...)', '1 Pair of Nike Running Shoes (Mid-Range)', '1 Pair of Men Leather Business Shoes', 'Apartment (1 bedroom) in City Centre', 'Apartment (1 bedroom) Outside of Centre', 'Apartment (3 bedrooms) in City Centre', 'Apartment (3 bedrooms) Outside of Centre', 'Price per Square Meter to Buy Apartment in City Centre', 'Price per Square Meter to Buy Apartment Outside of Centre', 'Average Monthly Net Salary (After Tax)', 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'], ['', '15.00', '60.00', '11.00', '5.00', '4.00', '3.29', '2.48', '1.64', '1.23', '1.86', '2.20', '3.49', '14.80', '13.94', '23.49', '2.76', '2.29', '2.92', '3.42', '2.03', '2.29', '1.43', '0.44', '7.50', '2.62', '3.37', '12.00', '1.60', '35.00', '4.50', '1.50', '29.00', '1.79', '32395.00', '33312.50', '225.56', '25.18', '29.19', '33.65', '25.00', '12.00', '675.00', '7000.00', '87.50', '38.75', '91.67', '156.67', '698.75', '638.75', '1150.00', '950.00', '4730.00', '4012.50', '2113.38', '3.66'], ['', '10.00 - 25.00', '40.00 - 75.00', '10.00 - 12.00', '3.00 - 7.00', '3.50 - 5.00', '2.00 - 5.00', '2.00 - 3.50', '1.00 - 2.75', '1.00 - 1.85', '1.20 - 6.00', '1.50 - 3.00', '1.97 - 6.00', '8.50 - 24.00', '10.00 - 18.00', '16.00 - 28.00', '2.00 - 3.00', '1.50 - 5.00', '1.55 - 4.00', '2.20 - 4.00', '1.00 - 2.50', '2.00 - 3.00', '1.19 - 2.00', '0.19 - 1.30', '5.75 - 9.00', '1.25 - 5.00', '1.00 - 5.00', '11.00 - 12.50', '1.10 - 1.90', '0.00 - 86.96', '4.00 - 5.00', '1.50 - 1.50', '28.00 - 30.00', '1.72 - 1.90', '29900.00 - 32395.00', '33750.00 - 33750.00', '148.75 - 350.00', '10.00 - 31.99', '22.50 - 35.00', '25.00 - 45.00', '15.00 - 40.00', '11.00 - 15.00', '650.00 - 700.00', '6000.00 - 8000.00', '45.00 - 110.00', '20.00 - 60.00', '60.00 - 125.00', '75.00 - 230.00', '600.00 - 800.00', '500.00 - 740.00', '1000.00 - 1500.00', '900.00 - 1350.00', '4500.00 - 6100.00', '3750.00 - 4500.00', '', '3.50 - 3.85'], ['URL:', 'Description:', 'Your Email Address:', 'Cost of Living in Nimes', 'Cost of Living in Avignon', 'Cost of Living in Aix-en-Provence', 'Cost of Living in Perpignan', 'Cost of Living in Marseille', 'Cost of Living in Valence', 'Cost of Living in Toulon', 'Cost of Living in Toulouse', 'Cost of Living in Grenoble', 'Cost of Living in Lyon'], ['', '', '', '54.68', '95.08', '154.14', '154.64', '168.61', '203.15', '232.85', '242.82', '294.99', '303.20'])

In [131]:
def trouver_prix_min_max(donnees_epurees):
    prix_min = []
    prix_max = []
    
    for prix in donnees_epurees[2]:  # La liste des plages de prix
        if '-' in prix:  # Vérifie si une plage existe
            parts = prix.split('-')
            prix_min.append(float(parts[0].strip()))  # Supprime les espaces et convertit en float
            prix_max.append(float(parts[1].strip()))
        else:
            prix_min.append(None)  # Aucun prix minimum défini
            prix_max.append(None)  # Aucun prix maximum défini
    
    return prix_min, prix_max

In [132]:
# Extraire les lignes du tableau
lignes = soup.select('tr')

# Nettoyer et extraire les données
donnees_epurees = cree_categorie(lignes)

# Extraire les prix minimum et maximum
prix_min, prix_max = trouver_prix_min_max(donnees_epurees)

# Ajouter les prix min/max aux données épurées
desc, prix, prix_min_max, nearby_cities, nearby_cities_km = donnees_epurees
donnees_completes = desc, prix, prix_min_max, nearby_cities, nearby_cities_km, prix_min, prix_max

# Afficher les résultats
print("Données complètes :", donnees_completes)

Données complètes : (['', 'Meal, Inexpensive Restaurant', 'Meal for 2 People, Mid-range Restaurant, Three-course', 'McMeal at McDonalds (or Equivalent Combo Meal)', 'Domestic Beer (0.5 liter draught)', 'Imported Beer (0.33 liter bottle)', 'Cappuccino (regular)', 'Coke/Pepsi (0.33 liter bottle)', 'Water (0.33 liter bottle)', 'Milk (regular), (1 liter)', 'Loaf of Fresh White Bread (500g)', 'Rice (white), (1kg)', 'Eggs (regular) (12)', 'Local Cheese (1kg)', 'Chicken Fillets (1kg)', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)', 'Apples (1kg)', 'Banana (1kg)', 'Oranges (1kg)', 'Tomato (1kg)', 'Potato (1kg)', 'Onion (1kg)', 'Lettuce (1 head)', 'Water (1.5 liter bottle)', 'Bottle of Wine (Mid-Range)', 'Domestic Beer (0.5 liter bottle)', 'Imported Beer (0.33 liter bottle)', 'Cigarettes 20 Pack (Marlboro)', 'One-way Ticket (Local Transport)', 'Monthly Pass (Regular Price)', 'Taxi Start (Normal Tariff)', 'Taxi 1 (Normal Tariff)', 'Taxi 1hour Waiting (Normal Tariff)', 'Gasoline (1 liter)', 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)', 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)', 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment', 'Mobile Phone Monthly Plan with Calls and 10GB+ Data', 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)', 'Fitness Club, Monthly Fee for 1 Adult', 'Tennis Court Rent (1 Hour on Weekend)', 'Cinema, International Release, 1 Seat', 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child', 'International Primary School, Yearly for 1 Child', '1 Pair of Jeans (Levis 501 Or Similar)', '1 Summer Dress in a Chain Store (Zara, H&M, ...)', '1 Pair of Nike Running Shoes (Mid-Range)', '1 Pair of Men Leather Business Shoes', 'Apartment (1 bedroom) in City Centre', 'Apartment (1 bedroom) Outside of Centre', 'Apartment (3 bedrooms) in City Centre', 'Apartment (3 bedrooms) Outside of Centre', 'Price per Square Meter to Buy Apartment in City Centre', 'Price per Square Meter to Buy Apartment Outside of Centre', 'Average Monthly Net Salary (After Tax)', 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate'], ['', '15.00', '60.00', '11.00', '5.00', '4.00', '3.29', '2.48', '1.64', '1.23', '1.86', '2.20', '3.49', '14.80', '13.94', '23.49', '2.76', '2.29', '2.92', '3.42', '2.03', '2.29', '1.43', '0.44', '7.50', '2.62', '3.37', '12.00', '1.60', '35.00', '4.50', '1.50', '29.00', '1.79', '32395.00', '33312.50', '225.56', '25.18', '29.19', '33.65', '25.00', '12.00', '675.00', '7000.00', '87.50', '38.75', '91.67', '156.67', '698.75', '638.75', '1150.00', '950.00', '4730.00', '4012.50', '2113.38', '3.66'], ['', '10.00 - 25.00', '40.00 - 75.00', '10.00 - 12.00', '3.00 - 7.00', '3.50 - 5.00', '2.00 - 5.00', '2.00 - 3.50', '1.00 - 2.75', '1.00 - 1.85', '1.20 - 6.00', '1.50 - 3.00', '1.97 - 6.00', '8.50 - 24.00', '10.00 - 18.00', '16.00 - 28.00', '2.00 - 3.00', '1.50 - 5.00', '1.55 - 4.00', '2.20 - 4.00', '1.00 - 2.50', '2.00 - 3.00', '1.19 - 2.00', '0.19 - 1.30', '5.75 - 9.00', '1.25 - 5.00', '1.00 - 5.00', '11.00 - 12.50', '1.10 - 1.90', '0.00 - 86.96', '4.00 - 5.00', '1.50 - 1.50', '28.00 - 30.00', '1.72 - 1.90', '29900.00 - 32395.00', '33750.00 - 33750.00', '148.75 - 350.00', '10.00 - 31.99', '22.50 - 35.00', '25.00 - 45.00', '15.00 - 40.00', '11.00 - 15.00', '650.00 - 700.00', '6000.00 - 8000.00', '45.00 - 110.00', '20.00 - 60.00', '60.00 - 125.00', '75.00 - 230.00', '600.00 - 800.00', '500.00 - 740.00', '1000.00 - 1500.00', '900.00 - 1350.00', '4500.00 - 6100.00', '3750.00 - 4500.00', '', '3.50 - 3.85'], ['URL:', 'Description:', 'Your Email Address:', 'Cost of Living in Nimes', 'Cost of Living in Avignon', 'Cost of Living in Aix-en-Provence', 'Cost of Living in Perpignan', 'Cost of Living in Marseille', 'Cost of Living in Valence', 'Cost of Living in Toulon', 'Cost of Living in Toulouse', 'Cost of Living in Grenoble', 'Cost of Living in Lyon'], ['', '', '', '54.68', '95.08', '154.14', '154.64', '168.61', '203.15', '232.85', '242.82', '294.99', '303.20'], [None, 10.0, 40.0, 10.0, 3.0, 3.5, 2.0, 2.0, 1.0, 1.0, 1.2, 1.5, 1.97, 8.5, 10.0, 16.0, 2.0, 1.5, 1.55, 2.2, 1.0, 2.0, 1.19, 0.19, 5.75, 1.25, 1.0, 11.0, 1.1, 0.0, 4.0, 1.5, 28.0, 1.72, 29900.0, 33750.0, 148.75, 10.0, 22.5, 25.0, 15.0, 11.0, 650.0, 6000.0, 45.0, 20.0, 60.0, 75.0, 600.0, 500.0, 1000.0, 900.0, 4500.0, 3750.0, None, 3.5], [None, 25.0, 75.0, 12.0, 7.0, 5.0, 5.0, 3.5, 2.75, 1.85, 6.0, 3.0, 6.0, 24.0, 18.0, 28.0, 3.0, 5.0, 4.0, 4.0, 2.5, 3.0, 2.0, 1.3, 9.0, 5.0, 5.0, 12.5, 1.9, 86.96, 5.0, 1.5, 30.0, 1.9, 32395.0, 33750.0, 350.0, 31.99, 35.0, 45.0, 40.0, 15.0, 700.0, 8000.0, 110.0, 60.0, 125.0, 230.0, 800.0, 740.0, 1500.0, 1350.0, 6100.0, 4500.0, None, 3.85])

In [133]:
def organiser_data(donnees_epurees):
    structured_data = []
    for i in range(len(donnees_epurees[0])):
        structured_data.append({
            "Description :": donnees_epurees[0][i], 
            "Prix moyen (€) :": float(donnees_epurees[1][i]) if donnees_epurees[5][i] is not None else None,
            "Prix min - max (€) :": donnees_epurees[2][i], 
            "Prix min (€) :": float(donnees_epurees[5][i]) if donnees_epurees[5][i] is not None else None,
            "Prix max (€) :": float(donnees_epurees[6][i]) if donnees_epurees[5][i] is not None else None,
            })
        
    for i in range(len(donnees_epurees[3])):
        structured_data.append({
            "Ville proche :": donnees_epurees[3][i], 
            "Distance (km)": (donnees_epurees[4][i])
            })
    return structured_data


def oorganiser_data(donnees_epurees):
    structured_data = []

    # Ajout des descriptions et des prix
    for i in range(len(donnees_epurees[0])):
        structured_data.append({
            "Description": donnees_epurees[0][i],
            "Prix moyen (€)": float(donnees_epurees[1][i]),
            "Prix min - max (€)": donnees_epurees[2][i],
            "Prix min (€)": float(donnees_epurees[5][i]) if donnees_epurees[5][i] is not None else None,
            "Prix max (€)": float(donnees_epurees[6][i]) if donnees_epurees[6][i] is not None else None,
        })

    # Ajout des villes proches et distances
    villes_proches = []
    for i in range(len(donnees_epurees[3])):
        villes_proches.append({
            "Ville proche": donnees_epurees[3][i],
            "Distance (km)": float(donnees_epurees[4][i])
        })

    return {"Produits": structured_data, "Villes proches": villes_proches}

In [134]:
lignes = soup.select('tr') 
donnees_epurees = cree_categorie(lignes)
structured_data = organiser_data(donnees_completes)
# print(structured_data)

In [135]:
def transformer_dataframe(structured_data):
    df = pd.DataFrame(structured_data)
    print(df)
    df.to_csv("cleaned_data.csv", index=False)
    return df

In [136]:
lignes = soup.select('tr') 
donnees_epurees = cree_categorie(lignes)
structured_data = organiser_data(donnees_completes)
# print(structured_data)
# a =transformer_dataframe(structured_data)

In [137]:

# a

In [138]:
def split_csv(file_path):
    df = pd.read_csv(file_path, encoding="utf-8")
    
    
    price_columns = ["Ville proche :","Distance (km)"]
    df_price = df.drop(columns=price_columns)

    
    if "Prix moyen (€) :" in df_price.columns:
        df_price = df_price[df_price["Prix moyen (€) :"].notna()]

    df_price.to_csv("cl_data_price.csv", index=False, encoding="utf-8")
    
  
    size_columns = ["Description :","Prix moyen (€) :","Prix min - max (€) :","Prix min (€) :","Prix max (€) :"]
    df_size = df.drop(columns=size_columns)
    if "Distance (km)" in df_size.columns:
        df_size = df_size[df_size["Distance (km)"].notna()]
    df_size.to_csv("cl_data_size.csv", index=False, encoding="utf-8")

In [139]:
split_csv("./cleaned_data.csv")